/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store

/dist
/project/target
/project/plugins/target
/project/project
/target
/.target
/logs/
test-result
server.pid
/lib/
/modules
tmp/
test-result
*.iml
*.eml
.cache
