@(selectedLetters: List[String])
<div class="alphabet">
    <span class='letter @if(selectedLetters.contains("A")){selected}'>A</span>
    <span class='letter @if(selectedLetters.contains("B")){selected}'>B</span>
    <span class="letter @if(selectedLetters.contains("C")){selected}">C</span>
    <span class="letter @if(selectedLetters.contains("Ç")){selected}">Ç</span>
    <span class="letter @if(selectedLetters.contains("D")){selected}">D</span>
    <span class="letter @if(selectedLetters.contains("E")){selected}">E</span>
    <span class="letter @if(selectedLetters.contains("F")){selected}">F</span>
    <span class="letter @if(selectedLetters.contains("G")){selected}">G</span>
    <span class="letter @if(selectedLetters.contains("Ğ")){selected}">Ğ</span>
    <span class="letter @if(selectedLetters.contains("H")){selected}">H</span>
    <span class="letter @if(selectedLetters.contains("I")){selected}">I</span>
    <span class="letter @if(selectedLetters.contains("İ")){selected}">İ</span>
    <span class="letter @if(selectedLetters.contains("J")){selected}">J</span>
    <span class="letter @if(selectedLetters.contains("K")){selected}">K</span>
    <span class="letter @if(selectedLetters.contains("L")){selected}">L</span>
    <span class="letter @if(selectedLetters.contains("M")){selected}">M</span>
    <span class="letter @if(selectedLetters.contains("N")){selected}">N</span>
    <span class="letter @if(selectedLetters.contains("O")){selected}">O</span>
    <span class="letter @if(selectedLetters.contains("Ö")){selected}">Ö</span>
    <span class="letter @if(selectedLetters.contains("P")){selected}">P</span>
    <span class="letter @if(selectedLetters.contains("R")){selected}">R</span>
    <span class="letter @if(selectedLetters.contains("S")){selected}">S</span>
    <span class="letter @if(selectedLetters.contains("Ş")){selected}">Ş</span>
    <span class="letter @if(selectedLetters.contains("T")){selected}">T</span>
    <span class="letter @if(selectedLetters.contains("U")){selected}">U</span>
    <span class="letter @if(selectedLetters.contains("Ü")){selected}">Ü</span>
    <span class="letter @if(selectedLetters.contains("V")){selected}">V</span>
    <span class="letter @if(selectedLetters.contains("Y")){selected}">Y</span>
    <span class="letter @if(selectedLetters.contains("Z")){selected}">Z</span>
</div>