@(selectedLetters: List[String])
<div class="alphabet">
    <span class='letter @if(selectedLetters.contains("a")){selected}' data-letter="a">A</span>
    <span class='letter @if(selectedLetters.contains("b")){selected}' data-letter="b">B</span>
    <span class='letter @if(selectedLetters.contains("c")){selected}' data-letter="c">C</span>
    <span class='letter @if(selectedLetters.contains("ç")){selected}' data-letter="ç">Ç</span>
    <span class='letter @if(selectedLetters.contains("d")){selected}' data-letter="d">D</span>
    <span class='letter @if(selectedLetters.contains("e")){selected}' data-letter="e">E</span>
    <span class='letter @if(selectedLetters.contains("f")){selected}' data-letter="f">F</span>
    <span class='letter @if(selectedLetters.contains("g")){selected}' data-letter="g">G</span>
    <span class='letter @if(selectedLetters.contains("ğ")){selected}' data-letter="ğ">Ğ</span>
    <span class='letter @if(selectedLetters.contains("h")){selected}' data-letter="h">H</span>
    <span class='letter @if(selectedLetters.contains("ı")){selected}' data-letter="ı">I</span>
    <span class='letter @if(selectedLetters.contains("i")){selected}' data-letter="i">İ</span>
    <span class='letter @if(selectedLetters.contains("j")){selected}' data-letter="j">J</span>
    <span class='letter @if(selectedLetters.contains("k")){selected}' data-letter="k">K</span>
    <span class='letter @if(selectedLetters.contains("l")){selected}' data-letter="l">L</span>
    <span class='letter @if(selectedLetters.contains("m")){selected}' data-letter="m">M</span>
    <span class='letter @if(selectedLetters.contains("n")){selected}' data-letter="n">N</span>
    <span class='letter @if(selectedLetters.contains("o")){selected}' data-letter="o">O</span>
    <span class='letter @if(selectedLetters.contains("ö")){selected}' data-letter="ö">Ö</span>
    <span class='letter @if(selectedLetters.contains("p")){selected}' data-letter="p">P</span>
    <span class='letter @if(selectedLetters.contains("r")){selected}' data-letter="r">R</span>
    <span class='letter @if(selectedLetters.contains("s")){selected}' data-letter="s">S</span>
    <span class='letter @if(selectedLetters.contains("ş")){selected}' data-letter="ş">Ş</span>
    <span class='letter @if(selectedLetters.contains("t")){selected}' data-letter="t">T</span>
    <span class='letter @if(selectedLetters.contains("u")){selected}' data-letter="u">U</span>
    <span class='letter @if(selectedLetters.contains("ü")){selected}' data-letter="ü">Ü</span>
    <span class='letter @if(selectedLetters.contains("v")){selected}' data-letter="v">V</span>
    <span class='letter @if(selectedLetters.contains("y")){selected}' data-letter="y">Y</span>
    <span class='letter @if(selectedLetters.contains("z")){selected}' data-letter="z">Z</span>
</div>