@(fl: List[String], ll: List[String], contains: List[String], notContains: List[String], containsText: String, genders: List[String], origins: List[String], allOrigins: List[String])
<div class="container filters">
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-6 col-sm-2 col-sm-offset-3">
            <div class="btn btn-default" id="openFilters">Filtreler <span class="caret"></span></div>
        </div>
    </div>
    <div id="filters-content">

        <div class="row filter">
            <div class="col-md-4 col-md-offset-3 col-xs-6 col-sm-4 col-sm-offset-3">
                <div id="containingText">
                    <span class="filter-header">Ara</span>
                    <input class="btn-block" type="text" value="@containsText"/>
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-2 col-md-offset-3 col-xs-6 col-sm-2 col-sm-offset-3">
                <div id="origin" class="form-group">
                    <span class="filter-header">Köken</span>
                    <select multiple class="form-control">
                        @for(origin <- allOrigins) {
                        <option value="@origin" @if(origins.contains(origin)){selected}>@origin</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2">
                <span class="filter-header">Cinsiyet</span>
                <div>
                    <label>
                        <input type="checkbox" name="gender" value="f" @if(genders.contains("f")){checked}>
                        Kadın
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="gender" value="m" @if(genders.contains("m")){checked}>
                        Erkek
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="gender" value="u" @if(genders.contains("u")){checked}>
                        Üniseks
                    </label>
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-4 col-md-offset-3 col-xs-6 col-sm-4 col-sm-offset-3">
                <div id="onlyEnglishAlphabet">
                    <label>
                        <input type="checkbox" id="onlyEnglish" value="f"/>
                        Sadece İngiliz alfabesindeki harfler
                    </label>
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-2 col-md-offset-3 col-xs-6 col-sm-2 col-sm-offset-3">
                <div id="firstLetter">
                    <span class="filter-header">İlk harfi</span>
                    @alphabet(fl)
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2">
                <div id="lastLetter">
                    <span class="filter-header">Son harfi</span>
                    @alphabet(ll)
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-2 col-md-offset-3 col-xs-6 col-sm-2 col-sm-offset-3">
                <div id="contains">
                    <span class="filter-header">Seçili harfleri kapsayan</span>
                    @alphabet(contains)
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2">
                <div id="notContains">
                    <span class="filter-header">Seçili harfleri kapsamayan</span>
                    @alphabet(notContains)
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-2 col-md-offset-7 col-xs-12 col-sm-2 col-sm-offset-7 ">
                <span class="btn btn-block" id="resetFilters">Filtreleri kaldır</span>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-2 col-md-offset-7 col-xs-12 col-sm-2 col-sm-offset-7 ">
                <span class="btn btn-default btn-block" id="closeFilters">Uygula</span>
            </div>
        </div>
    </div>


</div>