@(fl: List[String], ll: List[String])
<div class="container filters">
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-6 col-sm-2 col-sm-offset-3">
            <div class="btn btn-default" id="open-filters">Filtreler <span class="caret"></span></div>
        </div>
    </div>
    <div id="filters-content">

        <div class="row filter">
            <div class="col-md-2 col-md-offset-3 col-xs-6 col-sm-2 col-sm-offset-3">
                <div id="firstLetter">
                    <span class="filter-header">ilk harfi</span>
                    @alphabet(fl)
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2">
                <div id="lastLetter">
                    <span class="filter-header">son harfi</span>
                    @alphabet(ll)
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2">
                <div id="gender">
                    <span class="filter-header">Cinsiyet</span>
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-2 col-md-offset-3 col-xs-6 col-sm-2 col-sm-offset-3">
                <div id="contains-selected">
                    <span class="filter-header">Secili harfleri kapsayan</span>
                    @alphabet(ll)
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2">
                <div id="not-contains-selected">
                    <span class="filter-header">Secili harfleri kapsamayan</span>
                    @alphabet(ll)
                </div>
            </div>
            <div class="col-md-2 col-xs-6 col-sm-2">
                <div id="only-egnlish-alphabet">
                    <span class="filter-header">Sadece ingiliz alfabesini kapsayan</span>
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-md-2 col-md-offset-7 col-xs-12 col-sm-2 col-sm-offset-7 ">
                <span class="btn btn-default btn-block" id="close-filters">Uygula</span>
            </div>
        </div>
    </div>


</div>