@(fl: List[String], ll: List[String])
<div class="container filters">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3">
            <span id="open-filters">Filtreler</span>
        </div>
    </div>
    <div id="filters-content">

        <div class="row filter">
            <div class="col-xs-2 col-xs-offset-3">
                <div id="firstLetter">
                    <span class="filter-header">ilk harfi</span>
                    @alphabet(fl)
                </div>
            </div>
            <div class="col-xs-2">
                <div id="lastLetter">
                    <span class="filter-header">son harfi</span>
                    @alphabet(ll)
                </div>
            </div>
            <div class="col-xs-2">
                <div id="gender">
                    <span class="filter-header">Cinsiyet</span>
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-xs-2 col-xs-offset-3">
                <div id="contains-selected">
                    <span class="filter-header">Secili harfleri kapsayan</span>
                    @alphabet(ll)
                </div>
            </div>
            <div class="col-xs-2">
                <div id="not-contains-selected">
                    <span class="filter-header">Secili harfleri kapsamayan</span>
                    @alphabet(ll)
                </div>
            </div>
            <div class="col-xs-2">
                <div id="only-egnlish-alphabet">
                    <span class="filter-header">Sadece ingiliz alfabesini kapsayan</span>
                </div>
            </div>
        </div>
        <div class="row filter">
            <div class="col-xs-2 col-xs-offset-7">
                <span id="close-filters">Uygula</span>
            </div>
        </div>
    </div>


</div>