@(currentPage: Integer, pageCount: Integer, fl: List[String], ll: List[String], contains: List[String], notContains: List[String], containsText: String, genders: List[String])

<nav>
    <ul class="pagination">

        @if(currentPage == 1) {
        <li class="disabled"><span>&laquo;</span></li>
        } else {
        <li><a href="@routes.Application.index(currentPage - 1, fl, ll, contains, notContains, containsText, genders)">&laquo;</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 1) {
        <li><a href="@routes.Application.index(1, fl, ll, contains, notContains, containsText, genders)">1</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 2) {
        <li class="disabled"><span>...</span></li>
        }

        @for(index <- utils.TemplateHelpers.createRange(currentPage, pageCount)) {
        @if(currentPage == index) {
        <li class="disabled"><span>@index</span></li>
        } else {
        <li><a href="@routes.Application.index(index, fl, ll, contains, notContains, containsText, genders)">@index</a></li>
        }
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount - 1) {
        <li class="disabled"><span>...</span></li>
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount) {
        <li><a href="@routes.Application.index(pageCount, fl, ll, contains, notContains, containsText, genders)">@pageCount</a></li>
        }


        @if(currentPage >= (pageCount)) {
        <li class="disabled"><span>&raquo;</span></li>
        } else {
        <li><a href="@routes.Application.index(currentPage + 1, fl, ll, contains, notContains, containsText, genders)">&raquo;</a></li>
        }
    </ul>
</nav>