@(currentPage: Integer, pageCount: Integer, fl: List[String], ll: List[String])

<nav>
    <ul class="pagination">

        @if(currentPage == 1) {
        <li class="disabled"><span>&laquo;</span></li>
        } else {
        <li><a href="@routes.Application.index(currentPage - 1)">&laquo;</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 1) {
        <li><a href="@routes.Application.index(1, fl, ll)">1</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 2) {
            <li><a href="@routes.Application.index(2, fl, ll)">2</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 3) {
        <li class="disabled"><span>...</span></li>
        }

        @for(index <- utils.TemplateHelpers.createRange(currentPage, pageCount)) {
        @if(currentPage == index) {
        <li class="disabled"><span>@index</span></li>
        } else {
        <li><a href="@routes.Application.index(index, fl, ll)">@index</a></li>
        }
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount - 2) {
        <li class="disabled"><span>...</span></li>
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount - 1) {
        <li><a href="@routes.Application.index(pageCount-1, fl, ll)">@(pageCount-1)</a></li>
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount) {
        <li><a href="@routes.Application.index(pageCount, fl, ll)">@pageCount</a></li>
        }


        @if(currentPage >= (pageCount-1)) {
        <li class="disabled"><span>&raquo;</span></li>
        } else {
        <li><a href="@routes.Application.index(currentPage + 1, fl, ll)">&raquo;</a></li>
        }
    </ul>
</nav>