@(firstnames: List[Firstname])

<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th>Ad</th>
        <th>Cinsiyet</th>
        <th>Köken</th>
    </tr>
    </thead>
    <tbody>
    @for(firstname <- firstnames) {
    <tr data-toggle="collapse" data-target="#demo@firstname.getId()" class="accordion-toggle">
        <td>@firstname.getFirstname()</td>
        <td>@firstname.getGender()</td>
        <td>@firstname.getOrigin()</td>
    </tr>
    <tr>
        <td colspan="12" class="hiddenRow">
            <div class="meaning accordian-body collapse" id="demo@firstname.getId()">
                <span>@firstname.getMeaning()</span>
            </div>
        </td>
    </tr>
    }
    </tbody>
</table>