@(currentPage: Integer, pageCount: Integer, pageSize: Integer)

<nav>
    <ul class="pagination">

        @if(currentPage == 1) {
        <li class="disabled"><span>&laquo;</span></li>
        } else {
        <li><a href="@routes.Application.index(currentPage - 1)">&laquo;</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 1) {
        <li><a href="@routes.Application.index(1)">1</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 2) {
            <li><a href="@routes.Application.index(2)">2</a></li>
        }

        @if(utils.TemplateHelpers.getMinPage(currentPage) > 3) {
        <li class="disabled"><span>...</span></li>
        }

        @for(index <- utils.TemplateHelpers.createRange(currentPage, pageCount)) {
        @if(currentPage == index) {
        <li class="disabled"><span>@index</span></li>
        } else {
        <li><a href="@routes.Application.index(index)">@index</a></li>
        }
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount - 2) {
        <li class="disabled"><span>...</span></li>
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount - 1) {
        <li><a href="@routes.Application.index(pageCount-1)">@(pageCount-1)</a></li>
        }

        @if(utils.TemplateHelpers.getMaxPage(currentPage, pageCount) < pageCount) {
        <li><a href="@routes.Application.index(pageCount)">@pageCount</a></li>
        }


        @if(currentPage >= (pageCount-1)) {
        <li class="disabled"><span>&raquo;</span></li>
        } else {
        <li><a href="@routes.Application.index(currentPage + 1)">&raquo;</a></li>
        }
    </ul>
</nav>